MONGODB_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
MISTRAL_API_KEY=your_mistral_key
GEMINI_API_KEY=your_gemini_key
FIREBASE_PROJECT_ID=election-4c1b3
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@election-4c1b3.iam.gserviceaccount.com
GOOGLE_TRANSLATE_API_KEY=your_translate_key
GOOGLE_NLP_API_KEY=your_nlp_key
PORT=5002
NODE_ENV=development
